{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Unit Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for txn in transactions_data %}

            <tr> <!-- this is a row in the table-->
                <td> <!-- this is a cell in the table-->
                    {{ txn['symbol']}}
                </td>
                <td> {{ txn['symbol']}} </td>
                <td> {{ txn['shares']}} </td>
                <td> {{ txn['share_price'] }} </td>
                <td> {{ txn['time_stamp'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
